	#root{
		display: flex;
		flex-direction:column;
		margin:20px;
	}
	.row{
		width: 100%
		height:10px;
		display: flex;
		flex-wrap: nowrap !important;
		flex-direction: row;
		justify-content: center
	}
	.column, .end, .start, .wall{
		width:20px;
		height:20px;
		/*margin: 1px;*/
		border:1px solid gray;
	}
	.column{
		background-color:#fff;
	}
	.end{
		background-color:green;
	}
	.start{
		background-color:red;
	}

	.wall{
		background-color:#1f1e1ea6;
	}
	.column:hover{
		background-color:#ff181894;
		box-shadow: 0px 0px 1px 1px #ff181894;

	}
	#btnGroup{
      left:0;
      bottom:0;
      position: absolute;
      margin: 20px
	}
	#btnGroup2{
      right:0;
      bottom:0;
      position: absolute;
      margin: 20px
	}