#root{
		display: flex;
		flex-direction:column;
	}
	.row{
		width: 100%
		height:10px;
		display: flex;
		flex-direction: row;
		justify-content: center
	}
	.column{
		width:20px;
		height:20px;
		margin: 1px;
		/*background-color:#79d3e8;*/
		/*border:1px solid black;*/
		/*box-shadow: 0px 0px 1px 1px #16a39c;*/
	}
	.end{
		width:20px;
		height:20px;
		margin: 1px;
		background-color:green;
		border:1px solid black;
		box-shadow: 0px 0px 1px 1px #16a39c;
	}
	.start{
		width:20px;
		height:20px;
		margin: 1px;
		background-color:red;
		border:1px solid black;
		box-shadow: 0px 0px 1px 1px #16a39c;
	}

	.wall{
		width:20px;
		height:20px;
		margin: 1px;
		background-color:gray;
		border:1px solid black;
		box-shadow: 0px 0px 1px 1px #16a39c;
	}
	.column:hover{
		background-color:#ff181894;
		box-shadow: 0px 0px 1px 1px #ff181894;

	}